.header{
	height: 200px;
	background-color: rosybrown;
	margin-top: -40px;
}
.head{
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
h1{
	margin-top: 50px;
}
.Rakib{
	height:300px;
	border: 2px solid yellowgreen;
	font-family: sans-serif;
	

}
.first{
	width: 40%;
	background-color:Coral;
	float: left;
	height:300px;
	text-align: center;
}
.second{
	width: 60%;
	background-color:cyan;
	float: right;
	height:300px;
	text-align: center;
}

.fb{
	background-color: greenyellow;
	height: 100px;
	text-align: center;
	border: 2px dotted;
}

a{
	font-size: 25px;
	text-align: center;
	font-family: cursive;
	margin-top: 10px;
	text-shadow: rosybrown;
}




